* {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #170155ce;
    color: #fff;
  }
  
  .container {
    margin: 0 auto;
    max-width: fit-content;
  }
  
  .title {
    text-align: center;
    font-size: 3rem;
  }
  
  .input_holder {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    /* border-radius: 10px; */
  }
  
  input,
  button {
    padding: 10px 20px;
    background-color: #9b21f8c1;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
  }
  
  input {
    width: 200px;
  }
  
  input::placeholder {
    color: #fff;
  }
  
  button:hover {
    cursor: pointer;
    background-color: #a90293;
  }
  
  .list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border-radius: 5px; */
  }
  
  .toDo {
    background-color: #a90293;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }
  
  .icons {
    display: flex;
    gap: 15px;
  }
  
  .icon:hover {
    cursor: pointer;
    color: #9b21f8c1;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0000006c;
    display: grid;
    place-items: center;
  }
  
  .popup {
    position: relative;
    background-color: #9b21f86c;
    width: 400px;
    padding: 10px;
    top: 140px;
    
  }
  
  .cross {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
  }
  
  .cross:hover {
    color: #c4c4c4;
  }
  
  .popup h1 {
    text-align: center;
    font-weight: 500;
  }
  
  .popup__input_holder {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
  }
  
  .popup__input_holder input,
  .popup__input_holder button {
    background-color: #a90293;
    color: #e0e0e0;
  }
  
  .popup__input_holder input::placeholder {
    color: #383838;
  }
  
  .popup__input_holder button:hover {
    background-color: #565656;
  }